## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1  = random.sample(range(101),80)
print(sample_list_1)

[13, 87, 83, 22, 89, 97, 18, 25, 44, 15, 45, 21, 66, 98, 58, 27, 95, 4, 54, 84, 81, 64, 50, 41, 59, 61, 31, 20, 43, 39, 60, 62, 63, 47, 5, 49, 67, 40, 56, 23, 72, 85, 70, 6, 93, 24, 77, 53, 9, 57, 26, 69, 91, 28, 8, 2, 3, 35, 96, 52, 74, 80, 42, 51, 68, 12, 99, 7, 10, 55, 16, 29, 34, 92, 32, 33, 65, 71, 48, 46]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1= set(sample_list_1)

print(len(set1))

#La longitud es la misma, los valores no se repiren y se ordenan de menor a mayor aparententemente.

print(set1)

80
{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 77, 80, 81, 83, 84, 85, 87, 89, 91, 92, 93, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
import random

sample_list_2 = []

for i in range(80):
    valor = random.randrange(0, 101)
    sample_list_2.append(valor)
    
print(sample_list_2)

[49, 89, 41, 89, 48, 67, 70, 19, 15, 53, 65, 18, 79, 26, 57, 32, 50, 97, 9, 17, 32, 76, 75, 92, 6, 60, 36, 22, 83, 65, 80, 38, 83, 82, 60, 41, 28, 13, 62, 61, 69, 41, 87, 50, 91, 73, 28, 56, 67, 19, 21, 25, 78, 32, 59, 88, 17, 1, 42, 17, 56, 36, 63, 29, 78, 87, 15, 43, 6, 40, 99, 35, 97, 19, 59, 40, 40, 15, 80, 44]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

#no, dado que elimina los duplicados

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
print(set1)
print('')
print(set2)
print('')

set3 = set1 - set2

print(set3)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 77, 80, 81, 83, 84, 85, 87, 89, 91, 92, 93, 95, 96, 97, 98, 99}

{1, 6, 9, 13, 15, 17, 18, 19, 21, 22, 25, 26, 28, 29, 32, 35, 36, 38, 40, 41, 42, 43, 44, 48, 49, 50, 53, 56, 57, 59, 60, 61, 62, 63, 65, 67, 69, 70, 73, 75, 76, 78, 79, 80, 82, 83, 87, 88, 89, 91, 92, 97, 99}

{2, 3, 4, 5, 7, 8, 10, 12, 16, 20, 23, 24, 27, 31, 33, 34, 39, 45, 46, 47, 51, 52, 54, 55, 58, 64, 66, 68, 71, 72, 74, 77, 81, 84, 85, 93, 95, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
print(set1)
print('')
print(set2)
print('')

set4 = set2 - set1

print(set4)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 77, 80, 81, 83, 84, 85, 87, 89, 91, 92, 93, 95, 96, 97, 98, 99}

{1, 6, 9, 13, 15, 17, 18, 19, 21, 22, 25, 26, 28, 29, 32, 35, 36, 38, 40, 41, 42, 43, 44, 48, 49, 50, 53, 56, 57, 59, 60, 61, 62, 63, 65, 67, 69, 70, 73, 75, 76, 78, 79, 80, 82, 83, 87, 88, 89, 91, 92, 97, 99}

{1, 36, 38, 73, 75, 76, 78, 79, 17, 82, 19, 88}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1 & set2
print(set5)

{6, 9, 13, 15, 18, 21, 22, 25, 26, 28, 29, 32, 35, 40, 41, 42, 43, 44, 48, 49, 50, 53, 56, 57, 59, 60, 61, 62, 63, 65, 67, 69, 70, 80, 83, 87, 89, 91, 92, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

len_set1 = len(set1)
len_set2 = len(set2)
len_set3 = len(set3)
len_set4 = len(set4)
len_set5 = len(set5)

print(len_set1 == len_set3 + len_set5)
print(len_set2 == len_set4 + len_set5)

80
53
39
12
41
True
True

#### Create an empty set called `set6`.

In [10]:
set6 = ()
print(type(set6))

set6= set()
print(type(set6))

set6

<class 'tuple'>
<class 'set'>

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)
set6.update(set5)

print(set6)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 77, 80, 81, 83, 84, 85, 87, 89, 91, 92, 93, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:

print(set1.issubset(set2))

print(set1.issuperset(set3))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
aggregate_set1 = set3.union(set4, set5)

aggregate_set2 = set1.union(set2)

print(aggregate_set1 == aggregate_set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
print(set1)
set1_pop = set1.pop()
print(set1_pop)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 77, 80, 81, 83, 84, 85, 87, 89, 91, 92, 93, 95, 96, 97, 98, 99}
2
{3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 77, 80, 81, 83, 84, 85, 87, 89, 91, 92, 93, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
print(set1)
print('')

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    set1.discard(element)
    
print(set1)

{3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 77, 80, 81, 83, 84, 85, 87, 89, 91, 92, 93, 95, 96, 97, 98, 99}

{3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 77, 80, 83, 84, 85, 87, 92, 93, 95, 96, 97, 98}